In [1]:
# Importing our dependencies

import pandas as pd
import time

In [2]:
# Reading our data into DataFrames. 
# Once these are all brought in all name columns are made upper cased for ease of joining the datasets

df = pd.read_csv("vgsales_user_score.csv")
string_list = df['Name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
df['Name'] = string_list

df_user = pd.read_csv("result.csv")
string_list = df_user['name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
df_user['name'] = string_list

vgsales = pd.read_csv("vgsales.csv")
string_list = vgsales['Name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
vgsales['Name'] = string_list

C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
# Cleaning up the null values.

vgsales = vgsales.dropna()

In [4]:
# Double checking there is no nulls in the dataset

vgsales.isnull().sum()

Rank            0
Name            0
Year            0
Genre           0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [5]:
# Looking at the dtypes to see if any changes need to be made

vgsales.dtypes

Rank              int64
Name             object
Year             object
Genre            object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [6]:
# We are limiting the year value to only year so it can be converted

vgsales["Year"] = vgsales["Year"].str[:4]

In [8]:
# Temporary DataFrame so we can merge the summed values back into one DataFrame

vgsales_temp = vgsales[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Name', 'Rank']].groupby(['Name']).sum().reset_index()

In [9]:
# Looking at the DataFrame to ensure everything is here

vgsales_temp.head()

,Name,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rank
0,'98 KOSHIEN,0.15,0.10,0.12,0.03,0.41,4756
1,.HACK//G.U. VOL.1//REBIRTH,0.00,0.00,0.17,0.00,0.17,8359
2,.HACK//G.U. VOL.2//REMINISCE,0.11,0.09,0.00,0.03,0.23,7109
3,.HACK//G.U. VOL.2//REMINISCE (JP SALES),0.00,0.00,0.16,0.00,0.16,8604
4,.HACK//G.U. VOL.3//REDEMPTION,0.00,0.00,0.17,0.00,0.17,8306

In [10]:
# Another DataFrame we made that holds the data we could not gather in the temp DataFrame

vgsales_mini = vgsales[['Rank', 'Year', 'Genre']]

In [11]:
# We merged the DataFrames temp and mini together to form one DataFrame again

vgsales = pd.merge(vgsales_temp, vgsales_mini, how="left", on=["Rank", "Rank"])

In [12]:
# Reorganizing the columns to a similar format

vgsales = vgsales[['Rank', 'Name', 'Year', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

In [13]:
# Dropping the duplicates that were left over

vgsales = vgsales.drop_duplicates(subset=['Name']).sort_index()
vgsales.info

<bound method DataFrame.info of        Rank                                           Name  Year  \
0      4756                                    '98 KOSHIEN  1/1/
1      8359                     .HACK//G.U. VOL.1//REBIRTH  1/1/
2      7109                   .HACK//G.U. VOL.2//REMINISCE  1/1/
3      8604        .HACK//G.U. VOL.2//REMINISCE (JP SALES)  1/1/
4      8306                  .HACK//G.U. VOL.3//REDEMPTION  1/1/
...     ...                                            ...   ...
8506   4203                                  ZUMBA FITNESS  1/1/
8507    502                                ZUMBA FITNESS 2  1/1/
8508   7925                             ZUMBA FITNESS RUSH  1/1/
8509  12919  ZYUDEN SENTAI KYORYUGER: GAME DE GABURINCHO!!  1/1/
8510   9137                   ¡SHIN CHAN FLIPA EN COLORES!  1/1/

             Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0           Sports      0.15      0.10      0.12         0.03          0.41
1     Role-Playing      0.00      0.00      0.17         0.00          0.17
2     Role-Playing      0.11      0.09      0.00         0.03          0.23
3     Role-Playing      0.00      0.00      0.16         0.00          0.16
4     Role-Playing      0.00      0.00      0.17         0.00          0.17
...            ...       ...       ...       ...          ...           ...
8506        Sports      5.52      3.33      0.00         0.94          9.79
8507        Sports      1.54      1.07      0.00         0.28          2.88
8508        Sports      0.00      0.16      0.00         0.02          0.19
8509        Action      0.00      0.00      0.05         0.00          0.05
8510      Platform      0.00      0.00      0.14         0.00          0.14

[8403 rows x 9 columns]>

In [14]:
# Sorting the rows by Rank again

vgsales = vgsales.sort_values(by='Rank', ascending=True)

In [15]:
# Exporting video game sales to a csv

vgsales.to_csv("vgsales.csv", index=False)

In [16]:
# Dropping unnecessary columns for critic score.

df = df.drop(columns = ['VGChartz_Score', 'Platform', 'Year', 
                        'basename', 'Total_Shipped', 'Last_Update', 'url', 'status',
                        'Vgchartzscore', 'img_url', 'Global_Sales',
                        'NA_Sales', 'PAL_Sales', 'JP_Sales', 'Other_Sales'])

In [17]:
# Separating DataFrames for user score and critic score.

df_critic = df[['Name', 'Genre', 'Publisher', 'ESRB_Rating', 'Developer', 'Critic_Score']]

In [18]:
df_critic.head()

,Name,Genre,Publisher,ESRB_Rating,Developer,Critic_Score
0,WII SPORTS,Sports,Nintendo,E,Nintendo EAD,7.7
1,SUPER MARIO BROS.,Platform,Nintendo,NaN,Nintendo EAD,10.0
2,MARIO KART WII,Racing,Nintendo,E,Nintendo EAD,8.2
3,PLAYERUNKNOWN'S BATTLEGROUNDS,Shooter,PUBG Corporation,NaN,PUBG Corporation,NaN
4,WII SPORTS RESORT,Sports,Nintendo,E,Nintendo EAD,8.0

In [19]:
# Dropping na values and duplicate inputs for critic score.

df_critic = df_critic.dropna()
df_critic = df_critic.sort_values(by=['Critic_Score']).drop_duplicates(subset=['Name']).sort_index()

In [20]:
# Counting the number of unique names

df_critic.head()
df_critic['Name'].count()

4311

In [21]:
# Dropping na values and duplicate inputs and also dropping tbd values for user score.

df_user = df_user.dropna()
df_user = df_user.sort_values(by=['userscore']).drop_duplicates(subset=['name']).sort_index()
df_user=df_user[df_user["userscore"].str.contains("tbd")==False]

In [22]:
df_user.head()

,metascore,name,console,userscore,date
2,95,THE LAST OF US,PS3,9.2,"Jun 14, 2013"
5,93,BIOSHOCK INFINITE,X360,8.5,"Mar 26, 2013"
6,93,SUPER MARIO 3D WORLD,WIIU,8.9,"Nov 22, 2013"
7,92,FIRE EMBLEM: AWAKENING,3DS,9.1,"Feb 4, 2013"
11,91,THE LEGEND OF ZELDA: A LINK BETWEEN WORLDS,3DS,9,"Nov 22, 2013"

In [23]:
# Do not leave files open when running permission error will occur.
# Exporting critic score data to a csv

df_critic.to_csv("vg_critic_score_cleaned.csv", index=False)

In [24]:
# Exporting user score data to a csv
pd.concat
df_user.to_csv("vg_user_score_cleaned.csv", index=False)