In [1]:
# Importing our dependencies

import pandas as pd

In [2]:
# Reading our data in

df = pd.read_csv("vgsales_user_score.csv")
string_list = df['Name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
df['Name'] = string_list
df_user = pd.read_csv("result.csv")
string_list = df_user['name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
df_user['name'] = string_list
vgsales = pd.read_csv("vgsales.csv")
string_list = vgsales['Name']
for i in range(len(string_list)):
    string_list[i] = string_list[i].upper()
vgsales['Name'] = string_list

C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\steph\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [3]:
# Dropping unnecessary columns.

df = df.drop(columns = ['VGChartz_Score', 'Platform', 'Year', 
                        'basename', 'Total_Shipped', 'Last_Update', 'url', 'status',
                        'Vgchartzscore', 'img_url', 'Global_Sales',
                        'NA_Sales', 'PAL_Sales', 'JP_Sales', 'Other_Sales'])

In [4]:
df_user.head()

   metascore                name console userscore          date
0         97  GRAND THEFT AUTO V     PS3       8.3  Sep 17, 2013
1         97  GRAND THEFT AUTO V    X360       8.3  Sep 17, 2013
2         95      THE LAST OF US     PS3       9.2  Jun 14, 2013
3         94   BIOSHOCK INFINITE     PS3       8.5  Mar 26, 2013
4         94   BIOSHOCK INFINITE      PC       8.6  Mar 25, 2013

In [5]:
df.head()

,Rank,Name,Genre,ESRB_Rating,Publisher,Developer,Critic_Score,User_Score
0,1,WII SPORTS,Sports,E,Nintendo,Nintendo EAD,7.7,NaN
1,2,SUPER MARIO BROS.,Platform,NaN,Nintendo,Nintendo EAD,10.0,NaN
2,3,MARIO KART WII,Racing,E,Nintendo,Nintendo EAD,8.2,9.1
3,4,PLAYERUNKNOWN'S BATTLEGROUNDS,Shooter,NaN,PUBG Corporation,PUBG Corporation,NaN,NaN
4,5,WII SPORTS RESORT,Sports,E,Nintendo,Nintendo EAD,8.0,8.8

In [6]:
# Separating DataFrames for user score and critic score.


df_critic = df[['Name', 'Genre', 'Publisher', 'ESRB_Rating', 'Developer', 'Critic_Score']]

In [7]:
df_critic.head()

,Name,Genre,Publisher,ESRB_Rating,Developer,Critic_Score
0,WII SPORTS,Sports,Nintendo,E,Nintendo EAD,7.7
1,SUPER MARIO BROS.,Platform,Nintendo,NaN,Nintendo EAD,10.0
2,MARIO KART WII,Racing,Nintendo,E,Nintendo EAD,8.2
3,PLAYERUNKNOWN'S BATTLEGROUNDS,Shooter,PUBG Corporation,NaN,PUBG Corporation,NaN
4,WII SPORTS RESORT,Sports,Nintendo,E,Nintendo EAD,8.0

In [8]:
# Dropping na values and duplicate inputs for critic score.

df_critic = df_critic.dropna()
df_critic = df_critic.sort_values(by=['Critic_Score']).drop_duplicates(subset=['Name']).sort_index()

In [9]:
df_critic.head()
df_critic['Name'].count()

4311

In [10]:
df_critic.info

<bound method DataFrame.info of                                        Name             Genre  \
0                                WII SPORTS            Sports
2                            MARIO KART WII            Racing
4                         WII SPORTS RESORT            Sports
5        POKEMON RED / GREEN / BLUE VERSION      Role-Playing
6                     NEW SUPER MARIO BROS.          Platform
...                                     ...               ...
55090                                STRAFE           Shooter
55423                               THUMPER             Music
55490  TRAVIS STRIKES AGAIN: NO MORE HEROES            Action
55528                            TUMBLESEED  Action-Adventure
55653                     WHEELS OF AURELIA      Visual Novel

                          Publisher ESRB_Rating                Developer  \
0                          Nintendo           E             Nintendo EAD
2                          Nintendo           E             Nintendo EAD
4                          Nintendo           E             Nintendo EAD
5                          Nintendo           E               Game Freak
6                          Nintendo           E             Nintendo EAD
...                             ...         ...                      ...
55090              Devolver Digital           M             Pixel Titans
55423                         Drool         E10                    Drool
55490  Grasshopper Manufacture Inc.           M  Grasshopper Manufacture
55528                        aeiowu           E          Team TumbleSeed
55653                  Mixedbag Srl           T        Santa Ragione Srl

       Critic_Score
0               7.7
2               8.2
4               8.0
5               9.4
6               9.1
...             ...
55090           7.2
55423           9.0
55490           8.0
55528           7.0
55653           8.0

[4311 rows x 6 columns]>

In [11]:
# Dropping na values and duplicate inputs for user score.

df_user = df_user.dropna()
df_user = df_user.sort_values(by=['userscore']).drop_duplicates(subset=['name']).sort_index()
df_user=df_user[df_user["userscore"].str.contains("tbd")==False]

In [12]:
df_user.head()

,metascore,name,console,userscore,date
2,95,THE LAST OF US,PS3,9.2,"Jun 14, 2013"
5,93,BIOSHOCK INFINITE,X360,8.5,"Mar 26, 2013"
6,93,SUPER MARIO 3D WORLD,WIIU,8.9,"Nov 22, 2013"
7,92,FIRE EMBLEM: AWAKENING,3DS,9.1,"Feb 4, 2013"
11,91,THE LEGEND OF ZELDA: A LINK BETWEEN WORLDS,3DS,9,"Nov 22, 2013"

In [13]:
# Do not leave files open when running permission error will occur.

df_critic.to_csv("vg_critic_score_cleaned.csv", index=False)

In [14]:
df_user.to_csv("vg_user_score_cleaned.csv", index=False)

In [15]:
vgsales.to_csv("vgsales.csv", index=False)