In [ ]:
# pip install psycopg2

In [6]:
# import pandas as pd
# import psycopg2 as py
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [16]:
credentials = f"postgres://postgres:{db_password}@127.0.0.1:5432/video_game"

In [20]:
# psycopg2.connect(credentials)

In [21]:
import psycopg2
import pandas as pd
# Connection parameters, yours will be different
# params_dic = {
#     "host"      : "localhost",
#     "database"  : "video_game",
#     "port"      : 5432,
#     "user"      : "postgres",
#     "password"  : db_password
# }
def connect(credentials):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(credentials)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
#         sys.exit(1) 
    print("Connection successful")
    return conn

In [22]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [24]:
# Connect to the database
conn = connect(credentials)
column_names = ["Rank", "Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from video_game_data", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2.0,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3.0,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4.0,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5.0,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37